.expander-slider {
    position: relative;
    padding-bottom: 2rem;
    padding-left: 4rem;
    padding-right: 4rem;

    .tns-controls {
        outline: 0;
        button {
            position: absolute;
            top: 0;
            z-index: 10;
            height: 100%;
            width: 2rem;
            background: none;
            border: 0;
            text-indent: -2000%;
            overflow: hidden;
            opacity: .9;
            transition: opacity .15s;
            &:first-child {
                left: 1rem;
                background: url('../../assets/expander/chevron-left.svg') no-repeat center center / 2rem auto;
            }
            &:last-child {
                right: 1rem;
                background: url('../../assets/expander/chevron-right.svg') no-repeat center center / 2rem auto;
            }
            &:hover {
                opacity: 1;
            }
            &[disabled] {
                display: none;
            }
        }
    }

    .tns-nav {
        position: absolute;
        left: 0;
        bottom: .5rem;
        display: flex;
        justify-content: center;
        width: 100%;
        button {
            position: relative;
            z-index: 10;
            width: .75rem;
            height: .75rem;
            margin: 0 .25rem;
            border-radius: 50%;
            background: #fff;
            opacity: .6;
            transition: opacity .15s;
            &:hover,
            &.tns-nav-active {
                opacity: 1;
            }
        }
    }

}