h1,
.heading {
    font-size: 2rem;
    font-weight: bold;
    line-height: 1.1;
}

h2,
.subheading {
    font-size: 1.5rem;
    font-weight: bold;
}

h3,
.title {
    font-size: 1.125rem;
    font-weight: bold;
}

.lead {
    font-weight: bold;
}